# Import Library

In [1]:
import os
os.chdir("D:\KULIAH\SKRIPSI\IMPLEMENT\project-skripsi\data_pengangguran")

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import plotly.express as px
import plotly.graph_objects as go
from sklearn.cluster import KMeans
from sklearn.metrics import davies_bouldin_score
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import silhouette_score

# Import Dataset

In [3]:
df_2013 = pd.read_csv('TPT-2013.csv')
df_2014 = pd.read_csv('TPT-2014.csv')
df_2015 = pd.read_csv('TPT-2015.csv')
df_2016 = pd.read_csv('TPT-2016.csv')
df_2017 = pd.read_csv('TPT-2017.csv')
df_2018 = pd.read_csv('TPT-2018.csv')
df_2019 = pd.read_csv('TPT-2019.csv')
df_2020 = pd.read_csv('TPT-2020.csv')
df_2021 = pd.read_csv('TPT-2021.csv')
df_2022 = pd.read_csv('TPT-2022.csv')
df_2023 = pd.read_csv('TPT-2023.csv')

# Data Cleaning & Feature Engineering

## Func if needed

In [4]:
def conv_float(column):
    return column.astype(float)

## TPT - 2013

In [5]:
df_2013.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 3 columns):
 #   Column                                         Non-Null Count  Dtype
---  ------                                         --------------  -----
 0   Provinsi                                       35 non-null     object
 1   Tingkat Pengangguran Terbuka (TPT) - Februari  35 non-null     object
 2   Tingkat Pengangguran Terbuka (TPT) - Agustus   35 non-null     object
dtypes: object(3)
memory usage: 972.0+ bytes

In [6]:
df_2013 = df_2013.rename(columns={'Provinsi':'provinsi',  'Tingkat Pengangguran Terbuka (TPT) - Februari':'februari', 'Tingkat Pengangguran Terbuka (TPT) - Agustus':'agustus'})

In [7]:
df_2013.drop(df_2013.tail(1).index, inplace=True)

In [8]:
df_2013.isna().sum()

provinsi    0
februari    0
agustus     0
dtype: int64

In [9]:
df_2013.replace('-', 0, inplace=True)

In [10]:
df_2013[['februari', 'agustus']] = df_2013[['februari', 'agustus']].apply(conv_float)

In [11]:
df_2013.dtypes

provinsi     object
februari    float64
agustus     float64
dtype: object

In [12]:
df_2013['avg-2013'] = df_2013[['februari', 'agustus']].mean(axis=1).round(2)

In [13]:
df_2013.drop(columns=df_2013[['februari', 'agustus']], axis=0, inplace=True)

In [14]:
df_2013.head()

         provinsi  avg-2013
0            ACEH      9.23
1  SUMATERA UTARA      6.27
2  SUMATERA BARAT      6.70
3  KEPULAUAN RIAU      4.84
4           JAMBI      3.82

## TPT - 2014

In [15]:
df_2014.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 3 columns):
 #   Column                                         Non-Null Count  Dtype
---  ------                                         --------------  -----
 0   Provinsi                                       35 non-null     object
 1   Tingkat Pengangguran Terbuka (TPT) - Februari  35 non-null     object
 2   Tingkat Pengangguran Terbuka (TPT) - Agustus   35 non-null     object
dtypes: object(3)
memory usage: 972.0+ bytes

In [16]:
df_2014 = df_2014.rename(columns={'Provinsi':'provinsi',  'Tingkat Pengangguran Terbuka (TPT) - Februari':'februari', 'Tingkat Pengangguran Terbuka (TPT) - Agustus':'agustus'})

In [17]:
df_2014.drop(df_2014.tail(1).index, inplace=True)

In [18]:
df_2014.isna().sum()

provinsi    0
februari    0
agustus     0
dtype: int64

In [19]:
df_2014.replace('-', 0, inplace=True)

In [20]:
df_2014[['februari', 'agustus']] = df_2014[['februari', 'agustus']].apply(conv_float)

In [21]:
df_2014['avg-2014'] = df_2014[['februari', 'agustus']].mean(axis=1).round(2)

In [22]:
df_2014.drop(columns=df_2014[['februari', 'agustus']], axis=0, inplace=True)

In [23]:
df_2014.head()

         provinsi  avg-2014
0            ACEH      7.88
1  SUMATERA UTARA      6.09
2  SUMATERA BARAT      6.41
3            RIAU      5.78
4           JAMBI      3.79

## TPT - 2015

In [24]:
df_2015.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 3 columns):
 #   Column                                         Non-Null Count  Dtype
---  ------                                         --------------  -----
 0   Provinsi                                       35 non-null     object
 1   Tingkat Pengangguran Terbuka (TPT) - Februari  35 non-null     float64
 2   Tingkat Pengangguran Terbuka (TPT) - Agustus   35 non-null     float64
dtypes: float64(2), object(1)
memory usage: 972.0+ bytes

In [25]:
df_2015 = df_2015.rename(columns={'Provinsi':'provinsi',  'Tingkat Pengangguran Terbuka (TPT) - Februari':'februari', 'Tingkat Pengangguran Terbuka (TPT) - Agustus':'agustus'})

In [26]:
df_2015.drop(df_2015.tail(1).index, inplace=True)

In [27]:
df_2015['avg-2015'] = df_2015[['februari', 'agustus']].mean(axis=1).round(2)

In [28]:
df_2015.drop(columns=df_2015[['februari', 'agustus']], axis=0, inplace=True)

In [29]:
df_2015.head()

         provinsi  avg-2015
0            ACEH      8.83
1  SUMATERA UTARA      6.55
2  SUMATERA BARAT      6.44
3            RIAU      7.28
4           JAMBI      3.54

## TPT - 2016

In [30]:
df_2016.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 3 columns):
 #   Column                                         Non-Null Count  Dtype
---  ------                                         --------------  -----
 0   Provinsi                                       35 non-null     object
 1   Tingkat Pengangguran Terbuka (TPT) - Februari  35 non-null     float64
 2   Tingkat Pengangguran Terbuka (TPT) - Agustus   35 non-null     float64
dtypes: float64(2), object(1)
memory usage: 972.0+ bytes

In [31]:
df_2016 = df_2016.rename(columns={'Provinsi':'provinsi',  'Tingkat Pengangguran Terbuka (TPT) - Februari':'februari', 'Tingkat Pengangguran Terbuka (TPT) - Agustus':'agustus'})

In [32]:
df_2016.drop(df_2016.tail(1).index, inplace=True)

In [33]:
df_2016['avg-2016'] = df_2016[['februari', 'agustus']].mean(axis=1).round(2)

In [34]:
df_2016.drop(columns=df_2016[['februari', 'agustus']], axis=0, inplace=True)

In [35]:
df_2016.head()

         provinsi  avg-2016
0            ACEH      7.85
1  SUMATERA UTARA      6.16
2  SUMATERA BARAT      5.45
3            RIAU      6.68
4           JAMBI      4.33

## TPT - 2017

In [36]:
df_2017.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 5 columns):
 #   Column                                                Non-Null Count  Dtype
---  ------                                                --------------  -----
 0   Provinsi                                              35 non-null     object
 1   Tingkat Pengangguran Terbuka (TPT) - Februari         35 non-null     float64
 2   Tingkat Pengangguran Terbuka (TPT) - Agustus          35 non-null     float64
 3   Tingkat Partisipasi Angkatan Kerja (TPAK) - Februari  35 non-null     float64
 4   Tingkat Partisipasi Angkatan Kerja (TPAK) - Agustus   35 non-null     float64
dtypes: float64(4), object(1)
memory usage: 1.5+ KB

In [37]:
drop_cols = df_2017[['Tingkat Partisipasi Angkatan Kerja (TPAK) - Februari', 'Tingkat Partisipasi Angkatan Kerja (TPAK) - Agustus']]
df_2017.drop(axis=1, columns=drop_cols, inplace=True)

In [38]:
df_2017 = df_2017.rename(columns={'Provinsi':'provinsi',  'Tingkat Pengangguran Terbuka (TPT) - Februari':'februari', 'Tingkat Pengangguran Terbuka (TPT) - Agustus':'agustus'})

In [39]:
df_2017.drop(df_2017.tail(1).index, inplace=True)

In [40]:
df_2017['avg-2017'] = df_2017[['februari', 'agustus']].mean(axis=1).round(2)

In [41]:
df_2017.drop(columns=df_2017[['februari', 'agustus']], axis=0, inplace=True)

In [42]:
df_2017.head()

         provinsi  avg-2017
0            Aceh      6.98
1  Sumatera Utara      6.00
2  Sumatera Barat      5.69
3            Riau      5.99
4           Jambi      3.77

In [43]:
df_2017['provinsi'] = df_2017['provinsi'].str.upper()
df_2017.head()

         provinsi  avg-2017
0            ACEH      6.98
1  SUMATERA UTARA      6.00
2  SUMATERA BARAT      5.69
3            RIAU      5.99
4           JAMBI      3.77

## TPT - 2018

In [44]:
df_2018.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 5 columns):
 #   Column                                                Non-Null Count  Dtype
---  ------                                                --------------  -----
 0   Provinsi                                              35 non-null     object
 1   Tingkat Pengangguran Terbuka (TPT) - Februari         35 non-null     float64
 2   Tingkat Pengangguran Terbuka (TPT) - Agustus          35 non-null     float64
 3   Tingkat Partisipasi Angkatan Kerja (TPAK) - Februari  35 non-null     float64
 4   Tingkat Partisipasi Angkatan Kerja (TPAK) - Agustus   35 non-null     float64
dtypes: float64(4), object(1)
memory usage: 1.5+ KB

In [45]:
drop_cols = df_2018[['Tingkat Partisipasi Angkatan Kerja (TPAK) - Februari', 'Tingkat Partisipasi Angkatan Kerja (TPAK) - Agustus']]
df_2018.drop(axis=1, columns=drop_cols, inplace=True)

In [46]:
df_2018 = df_2018.rename(columns={'Provinsi':'provinsi',  'Tingkat Pengangguran Terbuka (TPT) - Februari':'februari', 'Tingkat Pengangguran Terbuka (TPT) - Agustus':'agustus'})

In [47]:
df_2018.drop(df_2018.tail(1).index, inplace=True)

In [48]:
df_2018['avg-2018'] = df_2018[['februari', 'agustus']].mean(axis=1).round(2)

In [49]:
df_2018.drop(columns=df_2018[['februari', 'agustus']], axis=0, inplace=True)

In [50]:
df_2018.head()

         provinsi  avg-2018
0            Aceh      6.44
1  Sumatera Utara      5.58
2  Sumatera Barat      5.67
3            Riau      5.76
4           Jambi      3.64

In [51]:
df_2018['provinsi'] = df_2018['provinsi'].str.upper()
df_2018.head()

         provinsi  avg-2018
0            ACEH      6.44
1  SUMATERA UTARA      5.58
2  SUMATERA BARAT      5.67
3            RIAU      5.76
4           JAMBI      3.64

## TPT - 2019

In [52]:
df_2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 5 columns):
 #   Column                                                Non-Null Count  Dtype
---  ------                                                --------------  -----
 0   Provinsi                                              35 non-null     object
 1   Tingkat Pengangguran Terbuka (TPT) - Februari         35 non-null     float64
 2   Tingkat Pengangguran Terbuka (TPT) - Agustus          35 non-null     float64
 3   Tingkat Partisipasi Angkatan Kerja (TPAK) - Februari  35 non-null     float64
 4   Tingkat Partisipasi Angkatan Kerja (TPAK) - Agustus   35 non-null     float64
dtypes: float64(4), object(1)
memory usage: 1.5+ KB

In [53]:
drop_cols = df_2019[['Tingkat Partisipasi Angkatan Kerja (TPAK) - Februari', 'Tingkat Partisipasi Angkatan Kerja (TPAK) - Agustus']]
df_2019.drop(axis=1, columns=drop_cols, inplace=True)

In [54]:
df_2019 = df_2019.rename(columns={'Provinsi':'provinsi',  'Tingkat Pengangguran Terbuka (TPT) - Februari':'februari', 'Tingkat Pengangguran Terbuka (TPT) - Agustus':'agustus'})

In [55]:
df_2019.drop(df_2019.tail(1).index, inplace=True)

In [56]:
df_2019['avg-2019'] = df_2019[['februari', 'agustus']].mean(axis=1).round(2)

In [57]:
df_2019.drop(columns=df_2019[['februari', 'agustus']], axis=0, inplace=True)

In [58]:
df_2019.head()

         provinsi  avg-2019
0            Aceh      5.82
1  Sumatera Utara      5.48
2  Sumatera Barat      5.38
3            Riau      5.56
4           Jambi      3.79

In [59]:
df_2019['provinsi'] = df_2019['provinsi'].str.upper()
df_2019.head()

         provinsi  avg-2019
0            ACEH      5.82
1  SUMATERA UTARA      5.48
2  SUMATERA BARAT      5.38
3            RIAU      5.56
4           JAMBI      3.79

## TPT - 2020

In [60]:
df_2020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 5 columns):
 #   Column                                                Non-Null Count  Dtype
---  ------                                                --------------  -----
 0   Provinsi                                              35 non-null     object
 1   Tingkat Pengangguran Terbuka (TPT) - Februari         35 non-null     float64
 2   Tingkat Pengangguran Terbuka (TPT) - Agustus          35 non-null     float64
 3   Tingkat Partisipasi Angkatan Kerja (TPAK) - Februari  35 non-null     float64
 4   Tingkat Partisipasi Angkatan Kerja (TPAK) - Agustus   35 non-null     float64
dtypes: float64(4), object(1)
memory usage: 1.5+ KB

In [61]:
drop_cols = df_2020[['Tingkat Partisipasi Angkatan Kerja (TPAK) - Februari', 'Tingkat Partisipasi Angkatan Kerja (TPAK) - Agustus']]
df_2020.drop(axis=1, columns=drop_cols, inplace=True)

In [62]:
df_2020 = df_2020.rename(columns={'Provinsi':'provinsi',  'Tingkat Pengangguran Terbuka (TPT) - Februari':'februari', 'Tingkat Pengangguran Terbuka (TPT) - Agustus':'agustus'})

In [63]:
df_2020.drop(df_2020.tail(1).index, inplace=True)

In [64]:
df_2020['avg-2020'] = df_2020[['februari', 'agustus']].mean(axis=1).round(2)

In [65]:
df_2020.drop(columns=df_2020[['februari', 'agustus']], axis=0, inplace=True)

In [66]:
df_2020.head()

         provinsi  avg-2020
0            Aceh      6.00
1  Sumatera Utara      5.81
2  Sumatera Barat      6.06
3            Riau      5.62
4           Jambi      4.70

In [67]:
df_2020['provinsi'] = df_2020['provinsi'].str.upper()
df_2020.head()

         provinsi  avg-2020
0            ACEH      6.00
1  SUMATERA UTARA      5.81
2  SUMATERA BARAT      6.06
3            RIAU      5.62
4           JAMBI      4.70

## TPT - 2021

In [68]:
df_2021.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 5 columns):
 #   Column                                                Non-Null Count  Dtype
---  ------                                                --------------  -----
 0   Provinsi                                              35 non-null     object
 1   Tingkat Pengangguran Terbuka (TPT) - Februari         35 non-null     float64
 2   Tingkat Pengangguran Terbuka (TPT) - Agustus          35 non-null     float64
 3   Tingkat Partisipasi Angkatan Kerja (TPAK) - Februari  35 non-null     float64
 4   Tingkat Partisipasi Angkatan Kerja (TPAK) - Agustus   35 non-null     float64
dtypes: float64(4), object(1)
memory usage: 1.5+ KB

In [69]:
drop_cols = df_2021[['Tingkat Partisipasi Angkatan Kerja (TPAK) - Februari', 'Tingkat Partisipasi Angkatan Kerja (TPAK) - Agustus']]
df_2021.drop(axis=1, columns=drop_cols, inplace=True)

In [70]:
df_2021 = df_2021.rename(columns={'Provinsi':'provinsi',  'Tingkat Pengangguran Terbuka (TPT) - Februari':'februari', 'Tingkat Pengangguran Terbuka (TPT) - Agustus':'agustus'})

In [71]:
df_2021.drop(df_2021.tail(1).index, inplace=True)

In [72]:
df_2021['avg-2021'] = df_2021[['februari', 'agustus']].mean(axis=1).round(2)

In [73]:
df_2021.drop(columns=df_2021[['februari', 'agustus']], axis=0, inplace=True)

In [74]:
df_2021.head()

         provinsi  avg-2021
0            Aceh      6.30
1  Sumatera Utara      6.17
2  Sumatera Barat      6.60
3            Riau      4.69
4           Jambi      4.92

In [75]:
df_2021['provinsi'] = df_2021['provinsi'].str.upper()
df_2021.head()

         provinsi  avg-2021
0            ACEH      6.30
1  SUMATERA UTARA      6.17
2  SUMATERA BARAT      6.60
3            RIAU      4.69
4           JAMBI      4.92

## TPT - 2022

In [76]:
df_2022.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 5 columns):
 #   Column                                                Non-Null Count  Dtype
---  ------                                                --------------  -----
 0   Provinsi                                              35 non-null     object
 1   Tingkat Pengangguran Terbuka (TPT) - Februari         35 non-null     float64
 2   Tingkat Pengangguran Terbuka (TPT) - Agustus          35 non-null     float64
 3   Tingkat Partisipasi Angkatan Kerja (TPAK) - Februari  35 non-null     float64
 4   Tingkat Partisipasi Angkatan Kerja (TPAK) - Agustus   35 non-null     float64
dtypes: float64(4), object(1)
memory usage: 1.5+ KB

In [77]:
drop_cols = df_2022[['Tingkat Partisipasi Angkatan Kerja (TPAK) - Februari', 'Tingkat Partisipasi Angkatan Kerja (TPAK) - Agustus']]
df_2022.drop(axis=1, columns=drop_cols, inplace=True)

In [78]:
df_2022 = df_2022.rename(columns={'Provinsi':'provinsi',  'Tingkat Pengangguran Terbuka (TPT) - Februari':'februari', 'Tingkat Pengangguran Terbuka (TPT) - Agustus':'agustus'})

In [79]:
df_2022.drop(df_2022.tail(1).index, inplace=True)

In [80]:
df_2022['avg-2022'] = df_2022[['februari', 'agustus']].mean(axis=1).round(2)

In [81]:
df_2022.drop(columns=df_2022[['februari', 'agustus']], axis=0, inplace=True)

In [82]:
df_2022.head()

         provinsi  avg-2022
0            Aceh      6.07
1  Sumatera Utara      5.82
2  Sumatera Barat      6.22
3            Riau      4.38
4           Jambi      4.64

In [83]:
df_2022['provinsi'] = df_2022['provinsi'].str.upper()
df_2022.head()

         provinsi  avg-2022
0            ACEH      6.07
1  SUMATERA UTARA      5.82
2  SUMATERA BARAT      6.22
3            RIAU      4.38
4           JAMBI      4.64

## TPT - 2023

In [84]:
df_2023.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 3 columns):
 #   Column                                         Non-Null Count  Dtype
---  ------                                         --------------  -----
 0   PROVINSI                                       35 non-null     object
 1   Tingkat Pengangguran Terbuka (TPT) - Februari  35 non-null     float64
 2   Tingkat Pengangguran Terbuka (TPT) - Agustus   35 non-null     float64
dtypes: float64(2), object(1)
memory usage: 972.0+ bytes

In [85]:
df_2023 = df_2023.rename(columns={'PROVINSI':'provinsi',  'Tingkat Pengangguran Terbuka (TPT) - Februari':'februari', 'Tingkat Pengangguran Terbuka (TPT) - Agustus':'agustus'})

In [86]:
df_2023.drop(df_2023.tail(1).index, inplace=True)

In [87]:
df_2023['avg-2023'] = df_2023[['februari', 'agustus']].mean(axis=1).round(2)

In [88]:
df_2023.drop(columns=df_2023[['februari', 'agustus']], axis=0, inplace=True)

In [89]:
df_2023.head()

         provinsi  avg-2023
0            ACEH      5.89
1  SUMATERA UTARA      5.56
2  SUMATERA BARAT      5.92
3            RIAU      4.24
4           JAMBI      4.52

# Merging Data

In [90]:
df = pd.merge(df_2013, df_2014, on= 'provinsi')
df = df.merge(right=df_2015, on= 'provinsi')
df = df.merge(right=df_2016, on= 'provinsi')
df = df.merge(right=df_2017, on= 'provinsi')
df = df.merge(right=df_2018, on= 'provinsi')
df = df.merge(right=df_2019, on= 'provinsi')
df = df.merge(right=df_2020, on= 'provinsi')
df = df.merge(right=df_2021, on= 'provinsi')
df = df.merge(right=df_2022, on= 'provinsi')
df = df.merge(right=df_2023, on= 'provinsi')

In [91]:
df.tail(40)

,provinsi,avg-2013,avg-2014,avg-2015,avg-2016,avg-2017,avg-2018,avg-2019,avg-2020,avg-2021,avg-2022,avg-2023
0,ACEH,9.23,7.88,8.83,7.85,6.98,6.44,5.82,6.00,6.30,6.07,5.89
1,SUMATERA UTARA,6.27,6.09,6.55,6.16,6.00,5.58,5.48,5.81,6.17,5.82,5.56
2,SUMATERA BARAT,6.70,6.41,6.44,5.45,5.69,5.67,5.38,6.06,6.60,6.22,5.92
3,KEPULAUAN RIAU,4.84,5.98,7.62,8.36,6.80,7.67,7.26,8.16,10.02,8.12,7.20
4,JAMBI,3.82,3.79,3.54,4.33,3.77,3.64,3.79,4.70,4.92,4.64,4.52
5,SUMATERA SELATAN,5.12,4.40,5.55,4.12,4.10,4.18,4.28,4.70,5.08,4.69,4.32
6,BENGKULU,3.36,2.54,4.06,3.57,3.28,2.99,2.84,3.58,3.68,3.49,3.32
7,LAMPUNG,5.38,4.94,4.29,4.58,4.38,4.18,3.99,4.46,4.62,4.41,4.20
8,KEPULAUAN BANGKA BELITUNG,3.44,3.90,4.82,4.38,4.12,3.60,3.45,4.30,5.04,4.47,4.22
9,RIAU,5.84,5.78,7.28,6.68,5.99,5.76,5.56,5.62,4.69,4.38,4.24
10,DKI JAKARTA,9.14,9.16,7.80,5.94,6.25,6.19,6.02,8.05,8.50,7.59,7.05
11,JAWA BARAT,9.02,8.56,8.56,8.73,8.36,8.23,7.91,9.09,9.37,8.33,7.66
12,JAWA TENGAH,5.77,5.56,5.15,4.42,4.36,4.33,4.32,5.34,5.96,5.66,5.18
13,DI YOGYAKARTA,3.50,2.74,4.07,2.76,2.93,3.18,3.04,3.98,4.42,3.89,3.64
14,JAWA TIMUR,4.14,4.11,4.39,4.18,4.05,3.84,3.80,4.72,5.46,5.15,4.61
15,BANTEN,9.65,9.47,9.07,8.44,8.52,8.10,7.83,9.32,9.00,8.31,7.74
16,BALI,1.88,1.64,1.68,2.00,1.38,1.14,1.40,3.44,5.40,4.82,3.21
17,NUSA TENGGARA BARAT,5.29,5.52,5.34,3.80,3.59,3.43,3.22,3.63,3.49,3.40,3.26
18,NUSA TENGGARA TIMUR,2.68,2.62,3.48,3.42,3.24,2.84,3.06,3.46,3.58,3.42,3.12
19,KALIMANTAN BARAT,3.56,3.28,4.96,4.40,4.29,4.14,4.20,5.14,5.78,4.99,4.78
20,KALIMANTAN TENGAH,2.41,2.98,3.84,4.24,3.68,3.53,3.62,3.96,4.39,4.23,3.97
21,KALIMANTAN SELATAN,3.77,3.92,4.88,4.54,4.15,4.04,3.80,4.20,4.64,4.47,4.13
22,KALIMANTAN TIMUR,8.44,8.14,7.34,8.40,7.73,6.60,6.30,6.80,6.82,6.24,5.84
23,KALIMANTAN UTARA,0.00,0.00,5.74,4.58,5.36,4.90,5.16,5.34,4.62,4.47,4.06
24,SULAWESI UTARA,7.14,7.40,8.86,7.00,6.65,6.24,5.59,6.36,7.17,6.56,6.14
25,SULAWESI TENGAH,3.43,3.30,3.54,3.38,3.39,3.24,3.28,3.35,3.74,3.34,3.22
26,SULAWESI SELATAN,5.49,5.44,5.88,4.96,5.19,4.99,4.86,6.00,5.76,5.13,4.80
27,SULAWESI TENGGARA,3.90,3.28,4.58,3.25,3.22,2.98,3.20,3.84,4.07,3.61,3.40
28,GORONTALO,4.33,3.31,3.86,3.32,3.96,3.54,3.50,3.78,3.21,2.92,3.06
29,SULAWESI BARAT,2.18,1.84,2.58,3.03,3.10,2.67,2.13,2.86,3.20,2.72,2.66
30,MALUKU,8.44,8.55,8.32,7.02,8.53,7.01,6.65,7.14,6.83,6.66,6.20
31,MALUKU UTARA,4.65,5.47,5.80,3.72,5.08,4.60,4.88,4.62,4.88,4.48,4.46
32,PAPUA BARAT,4.38,4.36,6.35,6.60,7.00,6.36,6.12,6.79,6.01,5.58,5.46
33,PAPUA,3.03,3.46,3.86,3.16,3.79,2.88,3.36,3.85,3.55,3.22,3.08

In [92]:
cols_avg = df.drop(['provinsi'], axis=1)
df['avg-total'] = cols_avg.mean(axis=1).round(2)

In [93]:
df.drop(columns= cols_avg, axis=1, inplace=True)

In [94]:
df.head()

         provinsi  avg-total
0            ACEH       7.03
1  SUMATERA UTARA       5.95
2  SUMATERA BARAT       6.05
3  KEPULAUAN RIAU       7.46
4           JAMBI       4.13

# Modelling

## Elbow Method for Optimal K

In [95]:
scaler = MinMaxScaler()
clus_col = scaler.fit_transform(df[['avg-total']])

k = range(1,11)
wcss = {}
for k in k :
    km = KMeans(n_clusters = k, max_iter=100, random_state=42)
    km.fit(clus_col)
    wcss[k] = km.inertia_


fig = go.Figure(data = go.Scatter(x=list(wcss.keys()), y=list(wcss.values()), mode='lines+markers'))
fig.update_layout(title = 'Elbow Method For Optimal K',
                  xaxis = dict(title='Number of clusters (K)'),
                  yaxis = dict(title='Sum of Square Distance'),
                  showlegend = True,
                  width = 600,
                  height = 500)

fig.show()

In [96]:
dbi_score = []

for k in range(2,11):
    kmeans = KMeans(n_clusters=k, random_state=42)
    kmeans.fit(clus_col)

    labels = kmeans.labels_
    dbi = davies_bouldin_score(clus_col, labels)
    dbi_score.append(dbi)

    print(f"k = {k} | DBI-Score = {dbi}")

k = 2 | DBI-Score = 0.4467758298930324
k = 3 | DBI-Score = 0.4870806245711134
k = 4 | DBI-Score = 0.46409685122725836
k = 5 | DBI-Score = 0.4452842184671482
k = 6 | DBI-Score = 0.3841079835015296
k = 7 | DBI-Score = 0.3418746497363662
k = 8 | DBI-Score = 0.31637347640492075
k = 9 | DBI-Score = 0.3132687354372356
k = 10 | DBI-Score = 0.2918688048970416

In [97]:
shl_score = []

for k in range(2,11):
    kmeans = KMeans(n_clusters=k, random_state=42)
    kmeans.fit(clus_col)

    labels = kmeans.labels_
    ss = silhouette_score(clus_col, labels)
    shl_score.append(ss)

    print(f"k = {k} | Silhouette-Score = {ss}")

k = 2 | Silhouette-Score = 0.6585203341518826
k = 3 | Silhouette-Score = 0.5825090645027821
k = 4 | Silhouette-Score = 0.6062102680927619
k = 5 | Silhouette-Score = 0.5607765709158581
k = 6 | Silhouette-Score = 0.619209408605651
k = 7 | Silhouette-Score = 0.6632307444158525
k = 8 | Silhouette-Score = 0.6784865942360616
k = 9 | Silhouette-Score = 0.6699916113773579
k = 10 | Silhouette-Score = 0.6520842066262262

## K-Means Modelling

### Modelling using K=3

In [98]:
kmeans = KMeans(n_clusters=3, random_state=42)
kmeans.fit(clus_col)
df['cluster'] = kmeans.predict(clus_col)
df.head()

         provinsi  avg-total  cluster
0            ACEH       7.03        1
1  SUMATERA UTARA       5.95        0
2  SUMATERA BARAT       6.05        0
3  KEPULAUAN RIAU       7.46        1
4           JAMBI       4.13        2

In [99]:
fig = px.scatter(df, x='avg-total', 
                 color='cluster',
                 template='ggplot2')

fig.update_layout(title= 'cluster with K=3',
                  width= 600,
                  height= 400)

fig.show()

### Modelling Using K=2

In [100]:
kmeans = KMeans(n_clusters=2, random_state=42)
kmeans.fit(clus_col)
df['cluster'] = kmeans.predict(clus_col)
df.head()

         provinsi  avg-total  cluster
0            ACEH       7.03        1
1  SUMATERA UTARA       5.95        1
2  SUMATERA BARAT       6.05        1
3  KEPULAUAN RIAU       7.46        1
4           JAMBI       4.13        0

In [101]:
fig = px.scatter(df, x='avg-total', 
                 color='cluster',
                 template='ggplot2')

fig.update_layout(title= 'cluster with K=2',
                  width= 600,
                  height= 400,
                  showlegend= True)

fig.show()

## Final Result

In [102]:
kmeans = KMeans(n_clusters=3, random_state=42)
kmeans.fit(clus_col)
df['cluster'] = kmeans.predict(clus_col)
df.head()

         provinsi  avg-total  cluster
0            ACEH       7.03        1
1  SUMATERA UTARA       5.95        0
2  SUMATERA BARAT       6.05        0
3  KEPULAUAN RIAU       7.46        1
4           JAMBI       4.13        2

In [103]:
df.groupby('cluster')['avg-total'].mean().round(2)

cluster
0    5.53
1    7.56
2    3.75
Name: avg-total, dtype: float64

In [104]:
df.groupby('cluster')['avg-total'].describe()

         count      mean       std   min    25%    50%     75%   max
cluster
0          7.0  5.534286  0.478848  4.79  5.210  5.620  5.9300  6.05
1          8.0  7.563750  0.679242  6.83  7.120  7.415  7.7275  8.68
2         19.0  3.750526  0.603844  2.54  3.385  3.710  4.1950  4.59

In [105]:
cluster_0 = df[df['cluster'] == 0]
print(cluster_0)

            provinsi  avg-total  cluster
1     SUMATERA UTARA       5.95        0
2     SUMATERA BARAT       6.05        0
9               RIAU       5.62        0
12       JAWA TENGAH       5.10        0
26  SULAWESI SELATAN       5.32        0
31      MALUKU UTARA       4.79        0
32       PAPUA BARAT       5.91        0

In [106]:
cluster_1 = df[df['cluster'] == 1]
print(cluster_1)

            provinsi  avg-total  cluster
0               ACEH       7.03        1
3     KEPULAUAN RIAU       7.46        1
10       DKI JAKARTA       7.43        1
11        JAWA BARAT       8.53        1
15            BANTEN       8.68        1
22  KALIMANTAN TIMUR       7.15        1
24    SULAWESI UTARA       6.83        1
30            MALUKU       7.40        1

In [107]:
cluster_2 = df[df['cluster'] == 2]
print(cluster_2)

                     provinsi  avg-total  cluster
4                       JAMBI       4.13        2
5            SUMATERA SELATAN       4.59        2
6                    BENGKULU       3.34        2
7                     LAMPUNG       4.49        2
8   KEPULAUAN BANGKA BELITUNG       4.16        2
13              DI YOGYAKARTA       3.47        2
14                 JAWA TIMUR       4.40        2
16                       BALI       2.54        2
17        NUSA TENGGARA BARAT       4.00        2
18        NUSA TENGGARA TIMUR       3.17        2
19           KALIMANTAN BARAT       4.50        2
20          KALIMANTAN TENGAH       3.71        2
21         KALIMANTAN SELATAN       4.23        2
23           KALIMANTAN UTARA       4.02        2
25            SULAWESI TENGAH       3.38        2
27          SULAWESI TENGGARA       3.58        2
28                  GORONTALO       3.53        2
29             SULAWESI BARAT       2.63        2
33                      PAPUA       3.39        2