# Import Library

In [330]:
import os
os.chdir("D:\KULIAH\SKRIPSI\IMPLEMENT\project-skripsi\data_pengangguran")

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import plotly.express as px
import plotly.graph_objects as go
from sklearn.cluster import KMeans
from sklearn.metrics import davies_bouldin_score
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import silhouette_score

# Import Dataset

In [332]:
df_2013 = pd.read_csv('TPT-2013.csv')
df_2014 = pd.read_csv('TPT-2014.csv')
df_2015 = pd.read_csv('TPT-2015.csv')
df_2016 = pd.read_csv('TPT-2016.csv')
df_2017 = pd.read_csv('TPT-2017.csv')
df_2018 = pd.read_csv('TPT-2018.csv')
df_2019 = pd.read_csv('TPT-2019.csv')
df_2020 = pd.read_csv('TPT-2020.csv')
df_2021 = pd.read_csv('TPT-2021.csv')
df_2022 = pd.read_csv('TPT-2022.csv')
df_2023 = pd.read_csv('TPT-2023.csv')

# Data Cleaning & Feature Engineering

## Func if needed

In [333]:
def conv_float(column):
    return column.astype(float)

## TPT - 2013

In [334]:
df_2013.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 3 columns):
 #   Column                                         Non-Null Count  Dtype
---  ------                                         --------------  -----
 0   Provinsi                                       35 non-null     object
 1   Tingkat Pengangguran Terbuka (TPT) - Februari  35 non-null     object
 2   Tingkat Pengangguran Terbuka (TPT) - Agustus   35 non-null     object
dtypes: object(3)
memory usage: 972.0+ bytes

In [335]:
df_2013 = df_2013.rename(columns={'Provinsi':'provinsi',  'Tingkat Pengangguran Terbuka (TPT) - Februari':'februari', 'Tingkat Pengangguran Terbuka (TPT) - Agustus':'agustus'})

In [336]:
df_2013.drop(df_2013.tail(1).index, inplace=True)

In [337]:
df_2013.isna().sum()

provinsi    0
februari    0
agustus     0
dtype: int64

In [338]:
df_2013.replace('-', 0, inplace=True)

In [339]:
df_2013[['februari', 'agustus']] = df_2013[['februari', 'agustus']].apply(conv_float)

In [340]:
df_2013.dtypes

provinsi     object
februari    float64
agustus     float64
dtype: object

In [341]:
df_2013['avg-2013'] = df_2013[['februari', 'agustus']].mean(axis=1).round(2)

In [342]:
df_2013.drop(columns=df_2013[['februari', 'agustus']], axis=0, inplace=True)

In [343]:
df_2013.head(10)

                    provinsi  avg-2013
0                       ACEH      9.23
1             SUMATERA UTARA      6.27
2             SUMATERA BARAT      6.70
3                       RIAU      4.84
4                      JAMBI      3.82
5           SUMATERA SELATAN      5.12
6                   BENGKULU      3.36
7                    LAMPUNG      5.38
8  KEPULAUAN BANGKA BELITUNG      3.44
9             KEPULAUAN RIAU      5.84

## TPT - 2014

In [344]:
df_2014.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 3 columns):
 #   Column                                         Non-Null Count  Dtype
---  ------                                         --------------  -----
 0   Provinsi                                       35 non-null     object
 1   Tingkat Pengangguran Terbuka (TPT) - Februari  35 non-null     object
 2   Tingkat Pengangguran Terbuka (TPT) - Agustus   35 non-null     object
dtypes: object(3)
memory usage: 972.0+ bytes

In [345]:
df_2014 = df_2014.rename(columns={'Provinsi':'provinsi',  'Tingkat Pengangguran Terbuka (TPT) - Februari':'februari', 'Tingkat Pengangguran Terbuka (TPT) - Agustus':'agustus'})

In [346]:
df_2014.drop(df_2014.tail(1).index, inplace=True)

In [347]:
df_2014.isna().sum()

provinsi    0
februari    0
agustus     0
dtype: int64

In [348]:
df_2014.replace('-', 0, inplace=True)

In [349]:
df_2014[['februari', 'agustus']] = df_2014[['februari', 'agustus']].apply(conv_float)

In [350]:
df_2014['avg-2014'] = df_2014[['februari', 'agustus']].mean(axis=1).round(2)

In [351]:
df_2014.drop(columns=df_2014[['februari', 'agustus']], axis=0, inplace=True)

In [352]:
df_2014.head()

         provinsi  avg-2014
0            ACEH      7.88
1  SUMATERA UTARA      6.09
2  SUMATERA BARAT      6.41
3            RIAU      5.78
4           JAMBI      3.79

## TPT - 2015

In [353]:
df_2015.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 3 columns):
 #   Column                                         Non-Null Count  Dtype
---  ------                                         --------------  -----
 0   Provinsi                                       35 non-null     object
 1   Tingkat Pengangguran Terbuka (TPT) - Februari  35 non-null     float64
 2   Tingkat Pengangguran Terbuka (TPT) - Agustus   35 non-null     float64
dtypes: float64(2), object(1)
memory usage: 972.0+ bytes

In [354]:
df_2015 = df_2015.rename(columns={'Provinsi':'provinsi',  'Tingkat Pengangguran Terbuka (TPT) - Februari':'februari', 'Tingkat Pengangguran Terbuka (TPT) - Agustus':'agustus'})

In [355]:
df_2015.drop(df_2015.tail(1).index, inplace=True)

In [356]:
df_2015['avg-2015'] = df_2015[['februari', 'agustus']].mean(axis=1).round(2)

In [357]:
df_2015.drop(columns=df_2015[['februari', 'agustus']], axis=0, inplace=True)

In [358]:
df_2015.head()

         provinsi  avg-2015
0            ACEH      8.83
1  SUMATERA UTARA      6.55
2  SUMATERA BARAT      6.44
3            RIAU      7.28
4           JAMBI      3.54

## TPT - 2016

In [359]:
df_2016.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 3 columns):
 #   Column                                         Non-Null Count  Dtype
---  ------                                         --------------  -----
 0   Provinsi                                       35 non-null     object
 1   Tingkat Pengangguran Terbuka (TPT) - Februari  35 non-null     float64
 2   Tingkat Pengangguran Terbuka (TPT) - Agustus   35 non-null     float64
dtypes: float64(2), object(1)
memory usage: 972.0+ bytes

In [360]:
df_2016 = df_2016.rename(columns={'Provinsi':'provinsi',  'Tingkat Pengangguran Terbuka (TPT) - Februari':'februari', 'Tingkat Pengangguran Terbuka (TPT) - Agustus':'agustus'})

In [361]:
df_2016.drop(df_2016.tail(1).index, inplace=True)

In [362]:
df_2016['avg-2016'] = df_2016[['februari', 'agustus']].mean(axis=1).round(2)

In [363]:
df_2016.drop(columns=df_2016[['februari', 'agustus']], axis=0, inplace=True)

In [364]:
df_2016.head()

         provinsi  avg-2016
0            ACEH      7.85
1  SUMATERA UTARA      6.16
2  SUMATERA BARAT      5.45
3            RIAU      6.68
4           JAMBI      4.33

## TPT - 2017

In [365]:
df_2017.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 5 columns):
 #   Column                                                Non-Null Count  Dtype
---  ------                                                --------------  -----
 0   Provinsi                                              35 non-null     object
 1   Tingkat Pengangguran Terbuka (TPT) - Februari         35 non-null     float64
 2   Tingkat Pengangguran Terbuka (TPT) - Agustus          35 non-null     float64
 3   Tingkat Partisipasi Angkatan Kerja (TPAK) - Februari  35 non-null     float64
 4   Tingkat Partisipasi Angkatan Kerja (TPAK) - Agustus   35 non-null     float64
dtypes: float64(4), object(1)
memory usage: 1.5+ KB

In [366]:
drop_cols = df_2017[['Tingkat Partisipasi Angkatan Kerja (TPAK) - Februari', 'Tingkat Partisipasi Angkatan Kerja (TPAK) - Agustus']]
df_2017.drop(axis=1, columns=drop_cols, inplace=True)

In [367]:
df_2017 = df_2017.rename(columns={'Provinsi':'provinsi',  'Tingkat Pengangguran Terbuka (TPT) - Februari':'februari', 'Tingkat Pengangguran Terbuka (TPT) - Agustus':'agustus'})

In [368]:
df_2017.drop(df_2017.tail(1).index, inplace=True)

In [369]:
df_2017['avg-2017'] = df_2017[['februari', 'agustus']].mean(axis=1).round(2)

In [370]:
df_2017.drop(columns=df_2017[['februari', 'agustus']], axis=0, inplace=True)

In [371]:
df_2017.head()

         provinsi  avg-2017
0            Aceh      6.98
1  Sumatera Utara      6.00
2  Sumatera Barat      5.69
3            Riau      5.99
4           Jambi      3.77

In [372]:
df_2017['provinsi'] = df_2017['provinsi'].str.upper()
df_2017.head()

         provinsi  avg-2017
0            ACEH      6.98
1  SUMATERA UTARA      6.00
2  SUMATERA BARAT      5.69
3            RIAU      5.99
4           JAMBI      3.77

## TPT - 2018

In [373]:
df_2018.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 5 columns):
 #   Column                                                Non-Null Count  Dtype
---  ------                                                --------------  -----
 0   Provinsi                                              35 non-null     object
 1   Tingkat Pengangguran Terbuka (TPT) - Februari         35 non-null     float64
 2   Tingkat Pengangguran Terbuka (TPT) - Agustus          35 non-null     float64
 3   Tingkat Partisipasi Angkatan Kerja (TPAK) - Februari  35 non-null     float64
 4   Tingkat Partisipasi Angkatan Kerja (TPAK) - Agustus   35 non-null     float64
dtypes: float64(4), object(1)
memory usage: 1.5+ KB

In [374]:
drop_cols = df_2018[['Tingkat Partisipasi Angkatan Kerja (TPAK) - Februari', 'Tingkat Partisipasi Angkatan Kerja (TPAK) - Agustus']]
df_2018.drop(axis=1, columns=drop_cols, inplace=True)

In [375]:
df_2018 = df_2018.rename(columns={'Provinsi':'provinsi',  'Tingkat Pengangguran Terbuka (TPT) - Februari':'februari', 'Tingkat Pengangguran Terbuka (TPT) - Agustus':'agustus'})

In [376]:
df_2018.drop(df_2018.tail(1).index, inplace=True)

In [377]:
df_2018['avg-2018'] = df_2018[['februari', 'agustus']].mean(axis=1).round(2)

In [378]:
df_2018.drop(columns=df_2018[['februari', 'agustus']], axis=0, inplace=True)

In [379]:
df_2018.head()

         provinsi  avg-2018
0            Aceh      6.44
1  Sumatera Utara      5.58
2  Sumatera Barat      5.67
3            Riau      5.76
4           Jambi      3.64

In [380]:
df_2018['provinsi'] = df_2018['provinsi'].str.upper()
df_2018.head()

         provinsi  avg-2018
0            ACEH      6.44
1  SUMATERA UTARA      5.58
2  SUMATERA BARAT      5.67
3            RIAU      5.76
4           JAMBI      3.64

## TPT - 2019

In [381]:
df_2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 5 columns):
 #   Column                                                Non-Null Count  Dtype
---  ------                                                --------------  -----
 0   Provinsi                                              35 non-null     object
 1   Tingkat Pengangguran Terbuka (TPT) - Februari         35 non-null     float64
 2   Tingkat Pengangguran Terbuka (TPT) - Agustus          35 non-null     float64
 3   Tingkat Partisipasi Angkatan Kerja (TPAK) - Februari  35 non-null     float64
 4   Tingkat Partisipasi Angkatan Kerja (TPAK) - Agustus   35 non-null     float64
dtypes: float64(4), object(1)
memory usage: 1.5+ KB

In [382]:
df_2019.head(10)

,Provinsi,Tingkat Pengangguran Terbuka (TPT) - Februari,Tingkat Pengangguran Terbuka (TPT) - Agustus,Tingkat Partisipasi Angkatan Kerja (TPAK) - Februari,Tingkat Partisipasi Angkatan Kerja (TPAK) - Agustus
0,Aceh,5.48,6.17,66.26,63.13
1,Sumatera Utara,5.57,5.39,74.72,70.37
2,Sumatera Barat,5.38,5.38,70.62,67.88
3,Riau,5.36,5.76,68.32,64.94
4,Jambi,3.52,4.06,67.41,65.79
5,Sumatera Selatan,4.02,4.53,71.21,67.67
6,Bengkulu,2.41,3.26,72.40,70.09
7,Lampung,3.95,4.03,72.09,69.06
8,Kepulauan Bangka Belitung,3.32,3.58,67.53,67.10
9,Kepulauan Riau,7.02,7.50,67.91,64.69

In [383]:
drop_cols = df_2019[['Tingkat Partisipasi Angkatan Kerja (TPAK) - Februari', 'Tingkat Partisipasi Angkatan Kerja (TPAK) - Agustus']]
df_2019.drop(axis=1, columns=drop_cols, inplace=True)

In [384]:
df_2019 = df_2019.rename(columns={'Provinsi':'provinsi',  'Tingkat Pengangguran Terbuka (TPT) - Februari':'februari', 'Tingkat Pengangguran Terbuka (TPT) - Agustus':'agustus'})

In [385]:
df_2019.drop(df_2019.tail(1).index, inplace=True)

In [386]:
df_2019['avg-2019'] = df_2019[['februari', 'agustus']].mean(axis=1).round(2)

In [387]:
df_2019.drop(columns=df_2019[['februari', 'agustus']], axis=0, inplace=True)

In [388]:
df_2019.head()

         provinsi  avg-2019
0            Aceh      5.82
1  Sumatera Utara      5.48
2  Sumatera Barat      5.38
3            Riau      5.56
4           Jambi      3.79

In [389]:
df_2019['provinsi'] = df_2019['provinsi'].str.upper()
df_2019.head()

         provinsi  avg-2019
0            ACEH      5.82
1  SUMATERA UTARA      5.48
2  SUMATERA BARAT      5.38
3            RIAU      5.56
4           JAMBI      3.79

## TPT - 2020

In [390]:
df_2020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 5 columns):
 #   Column                                                Non-Null Count  Dtype
---  ------                                                --------------  -----
 0   Provinsi                                              35 non-null     object
 1   Tingkat Pengangguran Terbuka (TPT) - Februari         35 non-null     float64
 2   Tingkat Pengangguran Terbuka (TPT) - Agustus          35 non-null     float64
 3   Tingkat Partisipasi Angkatan Kerja (TPAK) - Februari  35 non-null     float64
 4   Tingkat Partisipasi Angkatan Kerja (TPAK) - Agustus   35 non-null     float64
dtypes: float64(4), object(1)
memory usage: 1.5+ KB

In [391]:
drop_cols = df_2020[['Tingkat Partisipasi Angkatan Kerja (TPAK) - Februari', 'Tingkat Partisipasi Angkatan Kerja (TPAK) - Agustus']]
df_2020.drop(axis=1, columns=drop_cols, inplace=True)

In [392]:
df_2020 = df_2020.rename(columns={'Provinsi':'provinsi',  'Tingkat Pengangguran Terbuka (TPT) - Februari':'februari', 'Tingkat Pengangguran Terbuka (TPT) - Agustus':'agustus'})

In [393]:
df_2020.drop(df_2020.tail(1).index, inplace=True)

In [394]:
df_2020['avg-2020'] = df_2020[['februari', 'agustus']].mean(axis=1).round(2)

In [395]:
df_2020.drop(columns=df_2020[['februari', 'agustus']], axis=0, inplace=True)

In [396]:
df_2020.head()

         provinsi  avg-2020
0            Aceh      6.00
1  Sumatera Utara      5.81
2  Sumatera Barat      6.06
3            Riau      5.62
4           Jambi      4.70

In [397]:
df_2020['provinsi'] = df_2020['provinsi'].str.upper()
df_2020.head()

         provinsi  avg-2020
0            ACEH      6.00
1  SUMATERA UTARA      5.81
2  SUMATERA BARAT      6.06
3            RIAU      5.62
4           JAMBI      4.70

## TPT - 2021

In [398]:
df_2021.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 5 columns):
 #   Column                                                Non-Null Count  Dtype
---  ------                                                --------------  -----
 0   Provinsi                                              35 non-null     object
 1   Tingkat Pengangguran Terbuka (TPT) - Februari         35 non-null     float64
 2   Tingkat Pengangguran Terbuka (TPT) - Agustus          35 non-null     float64
 3   Tingkat Partisipasi Angkatan Kerja (TPAK) - Februari  35 non-null     float64
 4   Tingkat Partisipasi Angkatan Kerja (TPAK) - Agustus   35 non-null     float64
dtypes: float64(4), object(1)
memory usage: 1.5+ KB

In [399]:
drop_cols = df_2021[['Tingkat Partisipasi Angkatan Kerja (TPAK) - Februari', 'Tingkat Partisipasi Angkatan Kerja (TPAK) - Agustus']]
df_2021.drop(axis=1, columns=drop_cols, inplace=True)

In [400]:
df_2021 = df_2021.rename(columns={'Provinsi':'provinsi',  'Tingkat Pengangguran Terbuka (TPT) - Februari':'februari', 'Tingkat Pengangguran Terbuka (TPT) - Agustus':'agustus'})

In [401]:
df_2021.drop(df_2021.tail(1).index, inplace=True)

In [402]:
df_2021['avg-2021'] = df_2021[['februari', 'agustus']].mean(axis=1).round(2)

In [403]:
df_2021.drop(columns=df_2021[['februari', 'agustus']], axis=0, inplace=True)

In [404]:
df_2021.head()

         provinsi  avg-2021
0            Aceh      6.30
1  Sumatera Utara      6.17
2  Sumatera Barat      6.60
3            Riau      4.69
4           Jambi      4.92

In [405]:
df_2021['provinsi'] = df_2021['provinsi'].str.upper()
df_2021.head()

         provinsi  avg-2021
0            ACEH      6.30
1  SUMATERA UTARA      6.17
2  SUMATERA BARAT      6.60
3            RIAU      4.69
4           JAMBI      4.92

## TPT - 2022

In [406]:
df_2022.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 5 columns):
 #   Column                                                Non-Null Count  Dtype
---  ------                                                --------------  -----
 0   Provinsi                                              35 non-null     object
 1   Tingkat Pengangguran Terbuka (TPT) - Februari         35 non-null     float64
 2   Tingkat Pengangguran Terbuka (TPT) - Agustus          35 non-null     float64
 3   Tingkat Partisipasi Angkatan Kerja (TPAK) - Februari  35 non-null     float64
 4   Tingkat Partisipasi Angkatan Kerja (TPAK) - Agustus   35 non-null     float64
dtypes: float64(4), object(1)
memory usage: 1.5+ KB

In [407]:
drop_cols = df_2022[['Tingkat Partisipasi Angkatan Kerja (TPAK) - Februari', 'Tingkat Partisipasi Angkatan Kerja (TPAK) - Agustus']]
df_2022.drop(axis=1, columns=drop_cols, inplace=True)

In [408]:
df_2022 = df_2022.rename(columns={'Provinsi':'provinsi',  'Tingkat Pengangguran Terbuka (TPT) - Februari':'februari', 'Tingkat Pengangguran Terbuka (TPT) - Agustus':'agustus'})

In [409]:
df_2022.drop(df_2022.tail(1).index, inplace=True)

In [410]:
df_2022['avg-2022'] = df_2022[['februari', 'agustus']].mean(axis=1).round(2)

In [411]:
df_2022.drop(columns=df_2022[['februari', 'agustus']], axis=0, inplace=True)

In [412]:
df_2022.head()

         provinsi  avg-2022
0            Aceh      6.07
1  Sumatera Utara      5.82
2  Sumatera Barat      6.22
3            Riau      4.38
4           Jambi      4.64

In [413]:
df_2022['provinsi'] = df_2022['provinsi'].str.upper()
df_2022.head()

         provinsi  avg-2022
0            ACEH      6.07
1  SUMATERA UTARA      5.82
2  SUMATERA BARAT      6.22
3            RIAU      4.38
4           JAMBI      4.64

## TPT - 2023

In [414]:
df_2023.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 3 columns):
 #   Column                                         Non-Null Count  Dtype
---  ------                                         --------------  -----
 0   PROVINSI                                       35 non-null     object
 1   Tingkat Pengangguran Terbuka (TPT) - Februari  35 non-null     float64
 2   Tingkat Pengangguran Terbuka (TPT) - Agustus   35 non-null     float64
dtypes: float64(2), object(1)
memory usage: 972.0+ bytes

In [415]:
df_2023 = df_2023.rename(columns={'PROVINSI':'provinsi',  'Tingkat Pengangguran Terbuka (TPT) - Februari':'februari', 'Tingkat Pengangguran Terbuka (TPT) - Agustus':'agustus'})

In [416]:
df_2023.drop(df_2023.tail(1).index, inplace=True)

In [417]:
df_2023['avg-2023'] = df_2023[['februari', 'agustus']].mean(axis=1).round(2)

In [418]:
df_2023.drop(columns=df_2023[['februari', 'agustus']], axis=0, inplace=True)

In [419]:
df_2023.head()

         provinsi  avg-2023
0            ACEH      5.89
1  SUMATERA UTARA      5.56
2  SUMATERA BARAT      5.92
3            RIAU      4.24
4           JAMBI      4.52

# Merging Data

In [425]:
df = pd.merge(df_2013, df_2014, on= 'provinsi')
df = df.merge(right=df_2015, how='left', on= 'provinsi')
df = df.merge(right=df_2016, how='left', on= 'provinsi')
df = df.merge(right=df_2017, how='left', on= 'provinsi')
df = df.merge(right=df_2018, how='left', on= 'provinsi')
df = df.merge(right=df_2019, how='left', on= 'provinsi')
df = df.merge(right=df_2020, how='left', on= 'provinsi')
df = df.merge(right=df_2021, how='left', on= 'provinsi')
df = df.merge(right=df_2022, how='left', on= 'provinsi')
df = df.merge(right=df_2023, how='left', on= 'provinsi')

In [426]:
df.head(10)

,provinsi,avg-2013,avg-2014,avg-2015,avg-2016,avg-2017,avg-2018,avg-2019,avg-2020,avg-2021,avg-2022,avg-2023
0,ACEH,9.23,7.88,8.83,7.85,6.98,6.44,5.82,6.00,6.30,6.07,5.89
1,SUMATERA UTARA,6.27,6.09,6.55,6.16,6.00,5.58,5.48,5.81,6.17,5.82,5.56
2,SUMATERA BARAT,6.70,6.41,6.44,5.45,5.69,5.67,5.38,6.06,6.60,6.22,5.92
3,RIAU,4.84,5.78,7.28,6.68,5.99,5.76,5.56,5.62,4.69,4.38,4.24
4,JAMBI,3.82,3.79,3.54,4.33,3.77,3.64,3.79,4.70,4.92,4.64,4.52
5,SUMATERA SELATAN,5.12,4.40,5.55,4.12,4.10,4.18,4.28,4.70,5.08,4.69,4.32
6,BENGKULU,3.36,2.54,4.06,3.57,3.28,2.99,2.84,3.58,3.68,3.49,3.32
7,LAMPUNG,5.38,4.94,4.29,4.58,4.38,4.18,3.99,4.46,4.62,4.41,4.20
8,KEPULAUAN BANGKA BELITUNG,3.44,3.90,4.82,4.38,4.12,3.60,3.45,4.30,5.04,4.47,4.22
9,KEPULAUAN RIAU,5.84,5.98,7.62,8.36,6.80,7.67,7.26,8.16,10.02,8.12,7.20

In [308]:
cols_avg = df.drop(['provinsi'], axis=1)
df['avg-total'] = cols_avg.mean(axis=1).round(2)

In [309]:
df.drop(columns= cols_avg, axis=1, inplace=True)

In [310]:
df.describe()

       avg-total
count  34.000000
mean    5.015000
std     1.703398
min     2.540000
25%     3.612500
50%     4.495000
75%     6.025000
max     8.680000

In [311]:
df.head()

         provinsi  avg-total
0            ACEH       7.03
1  SUMATERA UTARA       5.95
2  SUMATERA BARAT       6.05
3            RIAU       5.53
4           JAMBI       4.13

In [312]:
df.sort_values(by='avg-total', ascending=False)

                     provinsi  avg-total
15                     BANTEN       8.68
11                 JAWA BARAT       8.53
9              KEPULAUAN RIAU       7.55
10                DKI JAKARTA       7.43
30                     MALUKU       7.40
22           KALIMANTAN TIMUR       7.15
0                        ACEH       7.03
24             SULAWESI UTARA       6.83
2              SUMATERA BARAT       6.05
1              SUMATERA UTARA       5.95
32                PAPUA BARAT       5.91
3                        RIAU       5.53
26           SULAWESI SELATAN       5.32
12                JAWA TENGAH       5.10
31               MALUKU UTARA       4.79
5            SUMATERA SELATAN       4.59
19           KALIMANTAN BARAT       4.50
7                     LAMPUNG       4.49
14                 JAWA TIMUR       4.40
21         KALIMANTAN SELATAN       4.23
8   KEPULAUAN BANGKA BELITUNG       4.16
4                       JAMBI       4.13
23           KALIMANTAN UTARA       4.02
17        NUSA TENGGARA BARAT       4.00
20          KALIMANTAN TENGAH       3.71
27          SULAWESI TENGGARA       3.58
28                  GORONTALO       3.53
13              DI YOGYAKARTA       3.47
33                      PAPUA       3.39
25            SULAWESI TENGAH       3.38
6                    BENGKULU       3.34
18        NUSA TENGGARA TIMUR       3.17
29             SULAWESI BARAT       2.63
16                       BALI       2.54

# Modelling

## Elbow Method for Optimal K

In [313]:
#scaler = MinMaxScaler()
#clus_col = scaler.fit_transform(df[['avg-total']])
clus_col = df[['avg-total']]

k = range(1,11)
wcss = {}
for k in k :
    km = KMeans(n_clusters = k, init='random', random_state=42)
    km.fit(clus_col)
    wcss[k] = km.inertia_


fig = go.Figure(data = go.Scatter(x=list(wcss.keys()), y=list(wcss.values()), mode='lines+markers'))
fig.update_layout(title = 'Elbow Method For Optimal K',
                  xaxis = dict(title='Number of clusters (K)'),
                  yaxis = dict(title='Sum of Square Distance'),
                  showlegend = True,
                  width = 900,
                  height = 500)

fig.show()

In [328]:
dbi_score = []

for k in range(2,11):
    kmeans = KMeans(n_clusters=k, init='random', random_state=42)
    kmeans.fit(clus_col)

    labels = kmeans.labels_
    dbi = davies_bouldin_score(clus_col, labels)
    dbi_score.append(dbi)

    print(f"k = {k} | DBI-Score = {dbi}")

k = 2 | DBI-Score = 0.4516572459967775
k = 3 | DBI-Score = 0.5405725634981869
k = 4 | DBI-Score = 0.46355558856973494
k = 5 | DBI-Score = 0.39438499123725895
k = 6 | DBI-Score = 0.333595585320513
k = 7 | DBI-Score = 0.35913334285311355
k = 8 | DBI-Score = 0.3033065460303356
k = 9 | DBI-Score = 0.34593442518332895
k = 10 | DBI-Score = 0.33112105437606293

In [315]:
shl_score = []

for k in range(2,11):
    kmeans = KMeans(n_clusters=k, init='random', random_state=42)
    kmeans.fit(clus_col)

    labels = kmeans.labels_
    ss = silhouette_score(clus_col, labels)
    shl_score.append(ss)

    print(f"k = {k} | Silhouette-Score = {ss}")

k = 2 | Silhouette-Score = 0.6534396810471457
k = 3 | Silhouette-Score = 0.5543720759199328
k = 4 | Silhouette-Score = 0.6045036909767452
k = 5 | Silhouette-Score = 0.641180728222633
k = 6 | Silhouette-Score = 0.6746894380060261
k = 7 | Silhouette-Score = 0.6461481679243803
k = 8 | Silhouette-Score = 0.6823890297940685
k = 9 | Silhouette-Score = 0.6621496079658038
k = 10 | Silhouette-Score = 0.6204749921800154

## K-Means Modelling

### Modelling using K=3

In [316]:
kmeans = KMeans(n_clusters=3, random_state=42)
kmeans.fit(clus_col)
df['cluster'] = kmeans.predict(clus_col)
df.head()

         provinsi  avg-total  cluster
0            ACEH       7.03        1
1  SUMATERA UTARA       5.95        0
2  SUMATERA BARAT       6.05        0
3            RIAU       5.53        0
4           JAMBI       4.13        2

In [317]:
fig = px.scatter(df, x='avg-total', 
                 color='cluster',
                 template='ggplot2')

fig.update_layout(title= 'cluster with K=3',
                  width= 600,
                  height= 400)

fig.show()

### Modelling Using K=2

In [318]:
kmeans = KMeans(n_clusters=2, init='random', random_state=42)
kmeans.fit(clus_col)
df['cluster'] = kmeans.predict(clus_col)
df.head()

         provinsi  avg-total  cluster
0            ACEH       7.03        1
1  SUMATERA UTARA       5.95        1
2  SUMATERA BARAT       6.05        1
3            RIAU       5.53        1
4           JAMBI       4.13        0

In [319]:
fig = px.scatter(df, x='avg-total', 
                 color='cluster',
                 template='ggplot2')

fig.update_layout(title= 'cluster with K=2',
                  width= 600,
                  height= 400,
                  showlegend= True)

fig.show()

## Final Result

In [329]:
clus_col = df[['avg-total']]
kmeans = KMeans(n_clusters=2, init='random', random_state=42)
kmeans.fit(clus_col)
df['cluster'] = kmeans.predict(clus_col)
df.head(40)

                     provinsi  avg-total  cluster
0                        ACEH       7.03        1
1              SUMATERA UTARA       5.95        1
2              SUMATERA BARAT       6.05        1
3                        RIAU       5.53        1
4                       JAMBI       4.13        0
5            SUMATERA SELATAN       4.59        0
6                    BENGKULU       3.34        0
7                     LAMPUNG       4.49        0
8   KEPULAUAN BANGKA BELITUNG       4.16        0
9              KEPULAUAN RIAU       7.55        1
10                DKI JAKARTA       7.43        1
11                 JAWA BARAT       8.53        1
12                JAWA TENGAH       5.10        0
13              DI YOGYAKARTA       3.47        0
14                 JAWA TIMUR       4.40        0
15                     BANTEN       8.68        1
16                       BALI       2.54        0
17        NUSA TENGGARA BARAT       4.00        0
18        NUSA TENGGARA TIMUR       3.17        0
19           KALIMANTAN BARAT       4.50        0
20          KALIMANTAN TENGAH       3.71        0
21         KALIMANTAN SELATAN       4.23        0
22           KALIMANTAN TIMUR       7.15        1
23           KALIMANTAN UTARA       4.02        0
24             SULAWESI UTARA       6.83        1
25            SULAWESI TENGAH       3.38        0
26           SULAWESI SELATAN       5.32        0
27          SULAWESI TENGGARA       3.58        0
28                  GORONTALO       3.53        0
29             SULAWESI BARAT       2.63        0
30                     MALUKU       7.40        1
31               MALUKU UTARA       4.79        0
32                PAPUA BARAT       5.91        1
33                      PAPUA       3.39        0

In [321]:
dbi_score = davies_bouldin_score(clus_col, labels=kmeans.labels_)
print(dbi_score)

0.4516572459967775

In [322]:
kmeans.cluster_centers_

array([[3.93045455],
       [7.00333333]])

In [323]:
kmeans.n_iter_

2

In [324]:
df.groupby('cluster')['avg-total'].describe()

         count      mean       std   min    25%   50%     75%   max
cluster
0         22.0  3.930455  0.730815  2.54  3.410  4.01  4.4675  5.32
1         12.0  7.003333  1.009809  5.53  6.025  7.09  7.4600  8.68

In [325]:
cluster_0 = df[df['cluster'] == 0]
print(cluster_0)

                     provinsi  avg-total  cluster
4                       JAMBI       4.13        0
5            SUMATERA SELATAN       4.59        0
6                    BENGKULU       3.34        0
7                     LAMPUNG       4.49        0
8   KEPULAUAN BANGKA BELITUNG       4.16        0
12                JAWA TENGAH       5.10        0
13              DI YOGYAKARTA       3.47        0
14                 JAWA TIMUR       4.40        0
16                       BALI       2.54        0
17        NUSA TENGGARA BARAT       4.00        0
18        NUSA TENGGARA TIMUR       3.17        0
19           KALIMANTAN BARAT       4.50        0
20          KALIMANTAN TENGAH       3.71        0
21         KALIMANTAN SELATAN       4.23        0
23           KALIMANTAN UTARA       4.02        0
25            SULAWESI TENGAH       3.38        0
26           SULAWESI SELATAN       5.32        0
27          SULAWESI TENGGARA       3.58        0
28                  GORONTALO       3.53        0
29             SULAWESI BARAT       2.63        0
31               MALUKU UTARA       4.79        0
33                      PAPUA       3.39        0

In [326]:
cluster_1 = df[df['cluster'] == 1]
print(cluster_1)

            provinsi  avg-total  cluster
0               ACEH       7.03        1
1     SUMATERA UTARA       5.95        1
2     SUMATERA BARAT       6.05        1
3               RIAU       5.53        1
9     KEPULAUAN RIAU       7.55        1
10       DKI JAKARTA       7.43        1
11        JAWA BARAT       8.53        1
15            BANTEN       8.68        1
22  KALIMANTAN TIMUR       7.15        1
24    SULAWESI UTARA       6.83        1
30            MALUKU       7.40        1
32       PAPUA BARAT       5.91        1